.topNavElement {
  cursor: pointer;
  color: #DFDCE3;
  font-size: 28px;
  font-family: 'Quicksand', sans-serif;

  float: right;
  padding: 10px 15px;
  margin: 0px 15px;
  display: inline-block;
  text-decoration: none;
}

.topNavElement:hover {
  color: #4abdac;
}

.active {
  border-bottom: 1px solid #4abdac;
  padding-bottom: 7px;

  color: #4abdac;
}
