.fullWindow {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.sidebar {
  background: #4ABDAC;

  height: 100%;
  width: 300px;

  position: fixed;
}

.content {
  background: #373737;
  background-size: cover;

  height: 100%;
  width: 100%;

  position: absolute;
  left: 300px;
}

.contentFrame {
  height: 100%;

  overflow: scroll;
  -webkit-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
}
