.window {
  display: flex;
  flex-direction: column;
  overflow: scroll;

  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  background-image: url('../images/notebook-mac.jpg');
  background-size: cover;
}

.content {
  margin-top: 60px;
}

.blogBody {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;

  margin: 25px auto;
  max-width: 1290px;
}

.aboutBody {
  max-width: 1290px;
  margin: auto;

  justify-content: center;
  display: flex;
}

.aboutContent {
  margin: 0px 30px 30px 30px;
  padding: 15px 15px 25px 15px;
  background: rgba(200, 200, 200, 0.4);
  border-radius: 10px;
}

.innerWidth {
  flex-basis: 600px;
}

.header {
  margin: 25px 0px 25px 45px;
}

.noDecoration {
  cursor: pointer;
  text-decoration: none;
}
