.socialButton {
  color: #000000;
  font-size: 56px;

  cursor: pointer;
  text-decoration: none;
  margin: 0px 23px;
}

.socialButton:visited {
  color: #000000;
}

.socialButton:hover {
  color: #0a4740;
}

.socialContainer {
  position: absolute;
  bottom: 20px;
  right: 15px;
}

.hackster {
  font-family: sans-serif;
  font-weight: bold;
}
