.socialButton {
  color: #000000;
  font-size: 40px;

  cursor: pointer;
  text-decoration: none;
  margin: 0px 0px 0px 10px;
}

.socialButton:visited {
  color: #000000;
}

.socialButton:hover {
  color: #0a4740;
}

.hackster {
  font-family: sans-serif;
  font-weight: bold;
}

.divider {
  width: 10px;
  height: auto;
  display: inline-block;
}

.socialContainer {
  position: absolute;
  left: 10px;
  bottom: 20px;
  right: 10px;

  padding-bottom: 10px;

  text-align: left;
  border-radius: 15px;

  background-color: rgba(74, 189, 172, 0.5);
}

.paddingLeftAndTop {
  padding-left: 15px;
  padding-top: 5px;
}
