.socialButton {
  color: #000000;
  font-size: 40px;

  cursor: pointer;
  text-decoration: none;

  padding: 5px 5px 5px 10px;
  border-radius: 15px;
}

.socialButton:visited {
  color: #000000;
}

.socialButton:hover {
  background-color: rgba(74, 189, 172, 0.5);
}

.hackster {
  width: 33px;
  padding-right: 7px;
}

.divider {
  width: 10px;
  height: auto;
  display: inline-block;
}

.centerText {
  text-align: center;
}
