.navBar {
  height: 53px;
  padding-bottom: 7px;

  z-index: 1;
  background: rgba(200, 200, 200, 0.4);

  position: fixed;
  right: 0;
  left: 0;
}

.width {
  max-width: 1290px;
  margin: 0 auto;
}
